.progress-bar3{
    width: 100%;
    height: 10px;
    background: #0E464F;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
}
.progress-bar-fill3{
    width: 100%;
    height: 100%;
    background: #24A0B5;
    transition: width 0.5s ease-in-out;
}

.card-3{
    /* width: 700px;
    height: 902px; */
    width: 43.75rem;
height: 39rem;
border-radius: 24px;
border-width: 1px;
padding: 48px;
gap: 32px;

    border-radius: 40px;
    border-width: 1px;
    padding: 48px;
    border: 1px solid white;
    background: #041e23;
    border: 1px solid #0e464f;
    margin: 20px auto;
    margin-top: rem;
}

.book-title{
font-family: 'Alatsi';
font-weight: 400;
font-size: 2rem;
line-height: 40.96px;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
margin-top: 2rem;
}

.book-sub-title{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: var(--color-grey-98, #FAFAFA);
margin-top: 1rem;
}

.ticket-container{
width: 37.75rem;
height: 16.4375rem;
border-radius: 24px;
gap: 10px;
padding-top: 32px;
padding-right: 21px;
padding-bottom: 32px;
padding-left: 21px;
background: transparent;
background-image: url('../../assets/ticketsimages/TechemberFest25.png' );
background-repeat: no-repeat;
background-size: contain;
aspect-ratio: 16 / 9;
margin-top: 4rem;

}
.ticket-container .person-names{
  color: #fff;
  
  font-size: 1rem;
  position: relative;
  font-weight: bold;
  font-family: 'roboto';
  bottom: 70%;
}

.event-content{
  position: relative;
  left: 1rem;
  bottom: 8rem;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  word-break: normal;
}
.event-title{
  font-family: 'Road Rage';
  font-weight: 400;
  font-size: 3.875rem;
  /* line-height: 62px; */
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-grey-98, #FAFAFA);
  /* margin-bottom: 0.8rem; */
}

.event-text{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  letter-spacing: 0%;
  color: var(--color-grey-98, #FAFAFA);
  /* margin-top: 3.5rem; */
  text-align: center;
}
.booked-button{
    width: 37.75rem;
    height: 3rem;
    border-radius: 30px;
    border-width: 1px;
    /* padding: 48px; */
    background: #041E23;
    border: 1px solid #0E464F;
    /* margin-top: 2rem ; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.book-another{
    width: 13.375rem;
  height: 3rem;
  border-radius: 5px;
  gap: 8px;
  /* padding-top: Radius/reg 2;
  padding-right: Radius/semi;
  padding-bottom: Radius/reg 2;
  padding-left: Radius/semi; */
  background: #052228;
  color: #24A0B5;
  font-family: JejuMyeongjo;
font-weight: 400;
font-size: 1rem;
line-height: 24px;
letter-spacing: 0%;
border: 1px solid #24A0B5;
cursor: pointer;
}

.download{
    width: 13.375rem;
  height: 3rem;
  border-radius: 5px;
  gap: 8px;
  /* padding-top: Radius/reg 2;
  padding-right: Radius/semi;
  padding-bottom: Radius/reg 2;
  padding-left: Radius/semi; */

  color: #fff;
  font-family: JejuMyeongjo;
font-weight: 400;
font-size: 1rem;
line-height: 24px;
letter-spacing: 0%;
border: 1px solid #24A0B5;
background: #24A0B5;

cursor: pointer;
}





.avatar-image {
  max-width: 150px;  /* Maximum width to prevent large images */
  max-height: 100px; /* Maximum height */
  min-width: 50px;   /* Minimum width for consistency */
  min-height: 50px;  /* Minimum height */
  border-radius: 5%; /* Optional: makes the image circular */
  object-fit: cover; /* Ensures the image doesn't distort */
  border: 2px solid #ccc; /* Optional: adds a border around the image */
}



















