



*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 500rem;
  font-size: 1em; 
}

body {
  /* display: block;
  justify-content: center;
  align-items: center; */
  max-width: 100%;
  height: 50vh;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(0deg, #02191D, #02191D),
  radial-gradient(52.52% 32.71% at 50% 97.66%, rgba(36, 160, 181, 0.2) 0%, rgba(36, 160, 181, 0) 100%);
  overflow-x: hidden;
}



/* section {
  width: 100%;
} */



 .card-1{
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px; /* Add padding instead of large margins */
}


